<!DOCTYPE html>
<html>
<head>
  <title>Shoping</title>
  <%= stylesheet_link_tag    "shoping/application", media: "all" %>
  <%= javascript_include_tag "shoping/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
